<div class="container pt-3 my-auto" th:fragment="contenido">



    <div class="card-group">
        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/fondos/f-agricultor.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta del Agricultor</strong></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maxime id animi similique laborum quod, ipsum perspiciatis quis facere facilis reprehenderit natus sunt at corporis rem sint velit necessitatibus perferendis..</p>
                    <a href="https://es-la.facebook.com/fiestadelagricultor/" target="_blank"><strong> Sitio
                            Web Oficial</strong></a>
                </div>

            </div>
        </div>


        <div class="card border-dark">
            <div class="card">
                <img class="card-img-top" src="images/fondos/f-orquidea.jpg" alt="Card image cap">
                <div class="card-block">
                    <h5 class="card-title"><strong>Fiesta Nacional de la Orquídea</strong></h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam assumenda corporis minus voluptate est quibusdam, maiores minima labore vero commodi blanditiis quae itaque voluptatem impedit. Voluptates molestias reprehenderit perferendis laudantium!</p>
                    <a href="https://https://www.facebook.com/fiestadelaorquideamisiones/?locale=es_LA/" target="_blank"><strong>
                            Sitio Web Oficial</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>









<script th:fragment="script"></script>